.box1{
    border: 2px solid black;
    height: 400px;
    width: 200px;
    font-size: smaller;
    border-radius: 40px;
    margin: 10px;
    padding: 20px;
    box-shadow: 10px 10px 5px black;
    background-color: white;
   text-transform: uppercase;

}
.container{
    display: flex;

}
header{
    background-image: url("MACHINE PROB 2/favicon.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: 10px solid white;
    box-shadow: 10px 10px 1px gray;
    background-position: left;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    border-radius: 0px 0px 40px 40px;
    border-top: 0px;
}
*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
hr{
    size: 5px;
    color: black;
    height: 10px;
    border: 1px solid black;
    background-color: red;
}
#box2{
    justify-content: center;
    text-align: center;
    height: max-content;

}
.btn1{
    width: 200px;
    height: 50px;
    border: 5px solid lightblue;
    color: white;
    background-color: black;
    border-radius: 30px;
    box-shadow: inset 0 0 0 0 black;
    transition: ease-in 0.5s;
    outline: none;
}
.btn1:hover{
    box-shadow: inset 300px 0 0 0 white;
    cursor: pointer;
    color: black;
}
h5{
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    font-style: italic;
    padding: 1px;
    margin: 1px;
   
}
H6{
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    padding: 1px;
    margin: 1px;
   
}
table.table1{
    width: 200px;
    height: 400px;
    text-align: center;
    box-shadow: 10px 10px 5px #333;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
}
#table1{
    width: 250px;
    margin-left: 20px;
}
#num4{
    width: 200px;
    height: 370px;
    text-align: justify;
    box-shadow: 10px 10px 5px black;
    border-radius: 30px;
    text-transform: uppercase;
}
.mark{
    background-color: aqua;
}
#n4{
    color: red;
    margin-top: 150px;
}
hr#next{
    color: #333;
    background-color: white;
    width: 100%;
    box-shadow: 10px 10px 10px  0px gray;
    border: 2px;
}
table.table1,th{
    width: max-content;
}
#remarks{
    width: 250px;
    margin-left: 20px;
    text-transform: uppercase;
}